@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* General Styles */

:root {
    --black: #0A0A0A;
    --navy: #0C1021;
    --blue: #5079A5;
    --gray: #b7c0cc;
}

*{
  max-width: 100vw;
  box-sizing: border-box;
}

h2{
  font-size: clamp(2.5rem, 4.1vw, 5rem);
  z-index: 1;
}

.badge{
  font-size: clamp(0.6rem, 0.8vw, 1rem);
  background-color: rgba(80, 121, 165, 0.1);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 999px;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 500;
  font-family: 'Montserrat Alternates';
  text-transform: uppercase;
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}


/* Custom Cursor */
@media (min-width: 600px){
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
  }
  
  .cursor-dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease-out;
    z-index: 1000;
  }
}



/* Nav Bar */
nav {
  position: fixed;
  font-family: 'Montserrat Alternates', 'sans-serif';
  top: 20px;
  left: 2.5%;
  width: 95%;
  border-radius: 500px;
  font-size: clamp(1rem, 1vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.nav-logo img{
  height: 32px;
  width: auto;
}

.nav-menu{
  display: none;
}

.nav-desktop-container{
  display: flex;
  margin-left: auto;
}


.nav-links-desktop {
  display: flex;
  align-items: center;
  gap: 7vw;
}

.nav-links-desktop a:hover{
  color: #d5e2ed;
}


nav a:not(.contact-button) {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav.scrolled {
  background-color: rgba(10, 20, 40, 0.6); 
  backdrop-filter: blur(10px);
  border: white 0.5px solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: white;
  color: black;
}

.nav-menu, .sidebar{
  display: none;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .nav-links-desktop, .nav-button-desktop{
    display: none;
  }
  
  .nav-menu {
    display: block; 
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .sidebar .nav-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-top: 2.5rem;
  }


  .sidebar{
    position: fixed;
    top: 0;
    right: -40vw;
    width: 40vw;
    height: 100%;
    background-color: rgba(0, 0, 0);
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 2000;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-decoration: none;
  }

  .sidebar.active{
    right: 0 !important;
    display: block !important;
  }

  .close-sidebar{
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1100;
  }

  .sidebar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .sidebar a:hover{
    color: #d5e2ed;
    text-decoration: none;
  }
  

  
}



/* Hero Section */
.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.hero-text h4, .hero-text h1, .hero-text p{
    opacity: 0;
    color: white;
    text-align: center;
}

.hero-text h4 {
    animation: slideInLeft 0.8s ease-out forwards;
    animation-delay: 0.2s;    
    font-size: clamp(0.8rem, 2.2vw, 1.2rem);
    letter-spacing: 2px;
    font-family: 'Montserrat Alternates';
    font-weight: normal;
}

.typewriter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-text h1{
    animation-delay: 0.5s;
    font-size: clamp(1.25rem, 6vw, 4.5rem);
    margin: 0.1rem 0;
    letter-spacing: 4px;
    font-family: 'Josefin Sans';
    overflow: hidden;
    white-space: nowrap;
    width: 0ch;
    opacity: 1;
    animation: typingFixed 1.4s steps(30, end) forwards;
    animation-delay: 1s;
}

.hero-text p{
    animation: slideInRight 0.8s ease-out forwards;
    animation-delay: 2.5s;    
    font-size: clamp(0.70rem, 1.8vw, 1.1rem);
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates';
    padding: 0 4vw;
}

#down-arrow{
    width: 4.5rem;
    height: auto;
    position: absolute;
    bottom: 13vh;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slideInRight {
    0% {
      transform: translateX(30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes typingFixed {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  } 
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 600px) {
  .hero-text h1{
    white-space: normal;
    overflow: visible;
    width: auto;
    animation: none;
    font-size: 3rem;
  }
}


@media only screen and (max-width: 800px) {
}


/* About Section */
#about-section{
    height: 75vh;
    width: 100%;
    background-color: var(--navy);
    display: flex;
    padding: 2.5rem;
    padding-top: 10vh;
}

.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.about-title{
  box-sizing: border-box;
  padding: 2rem 2.75rem 2rem 1.75rem;
  padding-left: clamp(0.5rem, 2vw, 3rem);
  width: 35%;
  border-right: 0.5vw solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-badge {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.about-title h2{
    font-family: 'Josefin Sans';
    position: relative;
    letter-spacing: 1px;
    margin: 0;
    color: white;
    line-height: 1.3;
}

.about-text{
  width: 65%;
  padding-right: 5%;
  padding-left: 5%;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  opacity: 0;
}

.about-text.in-view{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

.about-text p{
    font-family: 'Montserrat Alternates';
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    text-align: left;
    width: 95%;
    color: white;
  }

@media (max-width: 700px){
  #about-section{
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .about-title{
    width: 100%;
    border-right: none;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
  }

  .about-text{
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: left;
  }

  .about-text p{
    text-align: left;
  }
}

/* Project Gallery */
#projects-gallery h2{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin-bottom: 1.5vh;
  margin-top: none;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
}

.gallery-badge {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0;
}

#projects-gallery {
  position: relative;
  max-width: 100vw;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  padding-top: 10vh;
}

.gallery-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.gallery-container{
  box-sizing: border-box;
  position: relative;
  margin-top: 5vh;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 4vw;
}

.gallery-wrapper {
  display: flex;
  gap: 5vw;
  width: max-content;
  align-items: center;
}

.project-card {
  flex: 0 0 auto;
  width: clamp(200px, 60vw, 750px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

.project-card a:hover video{
  transform: scale(1.02);
}

.arrow {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 30;
}

.arrow img{
  width: 3rem;
}

.left-arrow {
  right: 4vw;;
}

.right-arrow {
  left: 4vw;;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}


.project-card:hover video {
  pointer-events: auto;
  animation: none;
}

.project-card video {
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  border-radius: 0px;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  margin: 0;
  padding: 0;
}

.arrow.disabled {
  opacity: 0.3; 
  pointer-events: none;
}



/* Our Services Section */
#services-section {
  padding: 4rem 0;
  background-color: var(--navy);
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 100vw;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

#services-section h2{
  text-align: center;
  margin-top: 5vh;
}


.services-badge{
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}

.services-div{
  background: linear-gradient(145deg, #1f2235, #2b2f45);;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.05); 
}

.redesign{
  flex-basis: 45%;
}

.custom{
  flex-basis: 45%;
}

.services-div h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.services-div h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 650;
}

.services-div p {
  margin-bottom: 1rem;
  color: var(--gray);
}

.services-div ul {
  list-style: disc inside;
  padding-left: 1rem;
  color: var(--gray);
}

.services-div ul li{
  position: relative;
  margin-bottom: 0.75rem;
}

.services-div ul li::before {
  content: '✔';                    
  position: absolute;             
  left: 0;                         
  color: #81858d;                  
  font-weight: bold;           
}

.free-badge{
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.25rem 0.6rem;
  font-size: 1rem;
  border: #81858d 1px solid;;
  color: #81858d;
  border-radius: 900px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  vertical-align: middle;
  font-family: sans-serif;
}


@media (max-width: 900px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  #services-section h2{
    margin-bottom: 5vh;
  }

  .services-div {
    width: 100%;
    max-width: 600px;
    text-align: left;
  }

  .services-div p {
    text-align: left;
  }

  .services-div ul {
    list-style: none;
    padding-left: 0.5rem;
  }

  .services-div ul li {
    position: relative;
    padding-left: 1.5rem;
    text-align: left;
  }

  .services-div ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #81858d;
    font-weight: bold;
  }
}




/* Contact Us Section */
#contact-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: none;
  gap: 4rem;
  padding: 0.1rem 5vw 4rem 5vw;
  background-color: var(--navy);
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.contact-left {
  flex: 2 1 40%;
  min-width: 280px;
}

.contact-badge {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.contact-left h2 {
  font-family: 'Josefin Sans', sans-serif;
  /*font-size: 3rem;*/
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

.contact-left p {
  font-size: 1rem;
  color: var(--gray);
  max-width: 50ch;
}

.contact-right {
  flex: 1 1 40%;
  min-width: 280px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  padding: 0.75rem 1rem;
  border: 1px solid var(--gray);
  background-color: #101526;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  resize: vertical;
}

.form-submit button {
  padding: 0.75rem 2rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  transition: background-color 0.3s ease;
}

.form-submit button:hover {
  background-color: var(--gray);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #7ac4ff;
  box-shadow: 0 0 15px #7ac4ff;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #7ac4ff;
  box-shadow: 0 0 15px #7ac4ff;
}

.portfolio-title-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-title-text {
  position: absolute;
  bottom: 30px;
  padding: 1rem 2rem;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s; 
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-title-text h2 {
  font-family: 'Montserrat Alternates';
  font-size: 100px;
  padding-bottom: 10px;
  color: #fff;
}

.portfolio-title-text p {
  font-family: 'Josefin Sans';
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  color: #A7B2C1;
}

.portfolio-gray-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.portfolio-badge {
  display: inline-block;
  background-color: rgba(80, 121, 165, 0.1);
  color: var(--blue);
  padding: 0.5rem 1.25rem;
  margin-top: 30px;
  border: 1px solid var(--blue);
  border-radius: 999px;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 500;
  font-family: 'Montserrat Alternates';
  text-transform: uppercase;
  margin-bottom: 0;
}

#project-overview{
    height: 40vh;
    width: 100%;
    background-color: var(--navy);
    display: flex;
    padding: 2.5rem;
}

.overview-title{
  box-sizing: border-box;
  padding: 2rem 2.75rem 2rem 1.75rem;
  padding-left: clamp(0.5rem, 2vw, 3rem);
  width: 30%;
  border-right: 0.3vw solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.overview-title h2{
    font-family: 'Josefin Sans';
    position: relative;
    font-size: clamp(2.0rem, 4.0vw, 5.0rem);
    letter-spacing: 1px;
    margin: 0;
    color: white;
    line-height: 1.3;
}

.overview-text p{
    display: flex;
    padding: 2rem;
    padding-left: 50px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans';
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    text-align: left;
    width: 95%;
    color: white;
}

.overview-badge {
  display: inline-block;
  background-color: rgba(80, 121, 165, 0.1);
  color: var(--blue);
  padding: 0.5rem 1.25rem;
  margin-left: 50px;
  border: 1px solid var(--blue);
  border-radius: 999px;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 500;
  font-family: 'Montserrat Alternates';
  text-transform: uppercase;
  margin-bottom: 0;
}

.badge-row {
  display: flex;
  align-items: center;
}

.badge-row p {
    display: flex;
    padding: 2rem;
    padding-left: 50px;
    font-family: 'Josefin Sans';
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    text-align: left;
    width: 95%;
    color: #A7B2C1;
}


#website-screenshots{
    height: 100vh;
    width: 100%;
    background-color: var(--navy);
    display: flex;
    padding: 2.5rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

